*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toolbox-cont{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    height: 3rem;
    background-color: aliceblue;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.black{
    background-color: black;
}

.action-btn-cont{
    height: 3rem;
    background-color: aliceblue;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-btn{
    font-size: 1.75rem;
}

.remove-btn{
    font-size: 1.5rem;
}

.modal-cont{
    height: 50vh;
    width: 50vw;
    display: none;
    border: 2px solid grey;
    position: fixed;
    left: 25vw;
    top: 25vh;
}

.textarea-cont{
    height: 100%;
    width: 75%;
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 2rem;
    resize: none;
}

.priority-color-cont{
    background-color: aliceblue;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 2px solid grey;
}


.priority-color{
    height: 3rem;
    width: 5rem;
}

.main-cont{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}

.ticket-cont{
    height: 10rem;
    width: 15rem;
    background-color: yellow;
}

.ticket-color{
    height: 1rem;

}

.ticket-id{
    background-color: grey;
    height: 1.5rem;
    font-weight: 600;
}

.ticket-area{
    height: 7.5rem;
    padding: 5px;
    font-size: 1.25rem;
}